*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 16px;
	max-width: 576px;
	font-family: sans-serif;
}

h3,
form,
label {
	margin-top: 0;
	margin-bottom: 16px;
}

h3,
form {
	display: block;
}

label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

label > span {
	display: block;
	flex-grow: 1;
	margin-bottom: 4px;
}

input,
button {
	padding: 8px;
	height: 36px;
}

hr {
	margin: 16px 0;
	border: 0;
	border-bottom: 1px solid #808080;
	color: transparent;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.input-form {
	display: flex;
	gap: 8px;
}
.input-form input {
	flex-grow: 1;
}

.message-info {
	margin-bottom: 16px;
}
.message-info:empty {
	display: none;
}

.profile-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.profile {
	display: flex;
	align-items: center;
	gap: 8px;
	min-width: 0;
}
.profile:hover {
	text-decoration: none;
}
.profile-avatar {
	border-radius: 48px;
	width: 48px;
	height: 48px;
}

.profile-info {
	flex-grow: 1;
	overflow: hidden;
}
.profile-name {
	margin: 0;
	overflow: hidden;
	color: LinkText;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.profile:hover .profile-name {
	text-decoration: underline;
}

.profile-subinfo {
	display: flex;
	min-width: 0;
	color: color-mix(in srgb, CanvasText, transparent 40%);
}
.profile-handle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.profile-activity {
	flex-shrink: 0;
	white-space: nowrap;
}

.dot {
	margin: 0 4px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}
